In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('student_info_table_v1.csv')

In [ ]:
df.head()

   Unnamed: 0  User_ID  Age  ...  User_Level_2 Gender        User_Name
0           0        0    6  ...           0.5      F      Laura Knapp
1           1        1    2  ...           0.2      M  Peter Hernandez
2           2        2    5  ...           0.2      M    Patrick Smith
3           3        3    5  ...           0.2      M  Donald Gonzalez
4           4        4    5  ...           0.2      M  Joseph Gonzalez

[5 rows x 17 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            250 non-null    int64
 1   User_ID               250 non-null    int64
 2   Age                   250 non-null    int64
 3   Translanguage_Level   250 non-null    int64
 4   Literate              250 non-null    object
 5   Learning_Rate         250 non-null    object
 6   Learning_Profile      250 non-null    object
 7   Country_of_Birth      250 non-null    object
 8   Country_of_Residence  250 non-null    object
 9   Cultural_Heritage     250 non-null    object
 10  Main_Language         250 non-null    object
 11  Learning_Language     250 non-null    object
 12  User_Level_0          250 non-null    float64
 13  User_Level_1          250 non-null    float64
 14  User_Level_2          250 non-null    float64
 15  Gender                250 non-null    object
 16  User_Name             250 non-null    object
dtypes: float64(3), int64(4), object(10)
memory usage: 33.3+ KB

In [ ]:
df.describe()

       Unnamed: 0     User_ID  ...  User_Level_1  User_Level_2
count  250.000000  250.000000  ...    250.000000    250.000000
mean   124.500000  124.500000  ...      0.424400      0.248000
std     72.312977   72.312977  ...      0.214356      0.110202
min      0.000000    0.000000  ...      0.200000      0.200000
25%     62.250000   62.250000  ...      0.200000      0.200000
50%    124.500000  124.500000  ...      0.500000      0.200000
75%    186.750000  186.750000  ...      0.500000      0.200000
max    249.000000  249.000000  ...      0.800000      0.500000

[8 rows x 7 columns]

In [ ]:
df['User_ID'].nunique()

250

In [ ]:
df['Gender'].value_counts()

M    129
F    121
Name: Gender, dtype: int64

In [ ]:
df['Age'].value_counts()

5    63
2    58
3    45
4    44
6    40
Name: Age, dtype: int64

In [ ]:
df['Literate'].value_counts()

Complete       97
In_Progress    78
Not_Started    75
Name: Literate, dtype: int64

In [ ]:
df['Learning_Profile'].value_counts()

HL     135
IL      94
BTB     21
Name: Learning_Profile, dtype: int64

In [ ]:
df['Learning_Rate'].value_counts()

Medium    88
Fast      83
Slow      79
Name: Learning_Rate, dtype: int64

In [ ]:
df['Country_of_Birth'].value_counts()

US           28
Brazil       27
Denmark      24
Spain        24
Portugal     24
Australia    24
Mexico       22
UK           22
Italy        20
Germany      15
France       11
Canada        9
Name: Country_of_Birth, dtype: int64

In [ ]:
len(df[df['Country_of_Birth']==df['Country_of_Residence']])

26

In [ ]:
x1=list(np.array(df['Cultural_Heritage']))
for i in range(len(x1)):
    x1[i]=x1[i][1:-1]
    x1[i]= x1[i].split(',')
x = [len(i) for i in x1]
print(np.mean(x))
print(np.std(x))
# the average cultural heritage a user has is 2, std dev being high albeit avg being 2, real value might be a equal split of 1,3 and also 2.

2.004
0.8123939930846362

In [ ]:
import collections
frequency_cultural_Heritage = collections.Counter(x)
print(frequency_cultural_Heritage)

Counter({2: 85, 3: 83, 1: 82})

In [ ]:
len(df[df['Main_Language']==df['Learning_Language']])  # 246 false;

4

In [ ]:
df[df['Main_Language']==df['Learning_Language']]

     Unnamed: 0  User_ID  Age  ...  User_Level_2 Gender         User_Name
39           39       39    5  ...           0.2      F       Katie Allen
65           65       65    3  ...           0.2      F         Amy Zhang
96           96       96    2  ...           0.2      F  Michaela Morales
244         244      244    3  ...           0.2      F  Christina Porter

[4 rows x 17 columns]