In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('student_activity_table_v1.csv')

In [ ]:
df.columns

Index(['Unnamed: 0', 'User_ID', 'Activity_ID', 'No_of_attempts', 'Time_taken',
       'Activity_score', 'Status', 'Act_Translanguage_Level'],
      dtype='object')

In [ ]:
df.head()

   Unnamed: 0  User_ID  ... Status  Act_Translanguage_Level
0           0        0  ...   Pass                 1.929879
1           1        0  ...   Pass                 1.769062
2           2        0  ...   Pass                 1.707420
3           3        0  ...   Pass                 1.782253
4           4        0  ...   Pass                 1.783143

[5 rows x 8 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               2500 non-null   int64
 1   User_ID                  2500 non-null   int64
 2   Activity_ID              2500 non-null   object
 3   No_of_attempts           2500 non-null   int64
 4   Time_taken               2500 non-null   float64
 5   Activity_score           2500 non-null   float64
 6   Status                   2500 non-null   object
 7   Act_Translanguage_Level  2500 non-null   float64
dtypes: float64(3), int64(3), object(2)
memory usage: 156.4+ KB

In [ ]:
df.describe()

        Unnamed: 0      User_ID  ...  Activity_score  Act_Translanguage_Level
count  2500.000000  2500.000000  ...     2500.000000              2500.000000
mean      4.500000   124.500000  ...        1.914980                 1.915600
std       2.872856    72.182644  ...        0.980038                 0.942968
min       0.000000     0.000000  ...       -0.393384                 0.043196
25%       2.000000    62.000000  ...        1.247465                 1.291985
50%       4.500000   124.500000  ...        1.837990                 1.778065
75%       7.000000   187.000000  ...        2.636905                 2.640141
max       9.000000   249.000000  ...        4.187029                 4.004525

[8 rows x 6 columns]

In [ ]:
df['User_ID'].nunique()

250

In [ ]:
df.groupby(['User_ID']).count()

         Unnamed: 0  Activity_ID  ...  Status  Act_Translanguage_Level
User_ID                           ...
0                10           10  ...      10                       10
1                10           10  ...      10                       10
2                10           10  ...      10                       10
3                10           10  ...      10                       10
4                10           10  ...      10                       10
...             ...          ...  ...     ...                      ...
245              10           10  ...      10                       10
246              10           10  ...      10                       10
247              10           10  ...      10                       10
248              10           10  ...      10                       10
249              10           10  ...      10                       10

[250 rows x 7 columns]

In [ ]:
df['No_of_attempts'].mean()

2.0692

In [ ]:
df['No_of_attempts'].value_counts()

2    856
1    855
3    550
4    239
Name: No_of_attempts, dtype: int64

In [ ]:
df['Time_taken'].mean()

291.6100551246308

In [ ]:
df['Status'].value_counts()

Pass    2499
Fail       1
Name: Status, dtype: int64

In [ ]:
df[df['Status']=='Fail']

     Unnamed: 0  User_ID  ... Status  Act_Translanguage_Level
839           9       83  ...   Fail                 0.359867

[1 rows x 8 columns]

In [ ]:
df['Activity_ID'].nunique()

60

In [ ]:
df[df['Activity_score']<0]

      Unnamed: 0  User_ID  ... Status  Act_Translanguage_Level
302            2       30  ...   Pass                 0.235249
355            5       35  ...   Pass                 0.105714
477            7       47  ...   Pass                 0.128937
1259           9      125  ...   Pass                 0.119218
1583           3      158  ...   Pass                 0.071580
1628           8      162  ...   Pass                 0.123190
1642           2      164  ...   Pass                 0.168551
1649           9      164  ...   Pass                 0.141791
1872           2      187  ...   Pass                 0.277192
2246           6      224  ...   Pass                 0.132134
2467           7      246  ...   Pass                 0.043196

[11 rows x 8 columns]