In [ ]:
pip install git+https://github.com/microsoft/recommenders.git

Collecting git+https://github.com/microsoft/recommenders.git
  Cloning https://github.com/microsoft/recommenders.git to /tmp/pip-req-build-h3zjlwko
  Running command git clone -q https://github.com/microsoft/recommenders.git /tmp/pip-req-build-h3zjlwko
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: pandas<2,>1.0.3 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (1.1.5)
Collecting category-encoders<2,>=1.3.0
  Downloading category_encoders-1.3.0-py2.py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 7.4 MB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (1.3.3)
Requirement already satisfied: requests<3,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (2.23.0)
Requirement already satisfied: seaborn<1,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (0.11.1)
Collecting memory-profiler<1,>=0.54.0
  Downloading memory_profiler-0.58.0.tar.gz (36 kB)
Requirement already satisfied: jinja2<3,>=2 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (2.11.3)
Requirement already satisfied: lightgbm<3,>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (2.2.3)
Collecting transformers<5,>=2.5.0
  Downloading transformers-4.10.2-py3-none-any.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 40.9 MB/s
Requirement already satisfied: scikit-learn<1,>=0.22.1 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (0.22.2.post1)
Requirement already satisfied: matplotlib<4,>=2.2.2 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (3.2.2)
Collecting nltk<4,>=3.4
  Downloading nltk-3.6.2-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 39.0 MB/s
Collecting pyyaml<6,>=5.4.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 34.8 MB/s
Requirement already satisfied: numba<1,>=0.38.1 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (0.51.2)
Requirement already satisfied: bottleneck<2,>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (1.3.2)
Requirement already satisfied: tqdm<5,>=4.31.1 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (4.62.0)
Collecting lightfm<2,>=1.15
  Downloading lightfm-1.16.tar.gz (310 kB)
     |████████████████████████████████| 310 kB 44.6 MB/s
Collecting scikit-surprise<=1.1.1,>=0.19.1
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 51 kB/s
Collecting pymanopt<1,>=0.2.5
  Downloading pymanopt-0.2.5-py3-none-any.whl (59 kB)
     |████████████████████████████████| 59 kB 7.0 MB/s
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (1.19.5)
Collecting pydocumentdb>=2.3.3<3
  Downloading pydocumentdb-2.3.5-py3-none-any.whl (93 kB)
     |████████████████████████████████| 93 kB 2.3 MB/s
Requirement already satisfied: scipy<2,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (1.4.1)
Collecting cornac<2,>=1.1.2
  Downloading cornac-1.13.5-cp37-cp37m-manylinux1_x86_64.whl (12.4 MB)
     |████████████████████████████████| 12.4 MB 33 kB/s
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders<2,>=1.3.0->recommenders==0.7.0) (0.5.1)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders<2,>=1.3.0->recommenders==0.7.0) (0.10.2)
Collecting powerlaw
  Downloading powerlaw-1.5-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2<3,>=2->recommenders==0.7.0) (2.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=2.2.2->recommenders==0.7.0) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=2.2.2->recommenders==0.7.0) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=2.2.2->recommenders==0.7.0) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=2.2.2->recommenders==0.7.0) (0.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib<4,>=2.2.2->recommenders==0.7.0) (1.15.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from memory-profiler<1,>=0.54.0->recommenders==0.7.0) (5.4.8)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk<4,>=3.4->recommenders==0.7.0) (1.0.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk<4,>=3.4->recommenders==0.7.0) (7.1.2)
Requirement already satisfied: regex in /usr/local/lib/python3.7/dist-packages (from nltk<4,>=3.4->recommenders==0.7.0) (2019.12.20)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba<1,>=0.38.1->recommenders==0.7.0) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba<1,>=0.38.1->recommenders==0.7.0) (57.4.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>1.0.3->recommenders==0.7.0) (2018.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.0.0->recommenders==0.7.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.0.0->recommenders==0.7.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.0.0->recommenders==0.7.0) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.0.0->recommenders==0.7.0) (2.10)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=2.5.0->recommenders==0.7.0) (21.0)
Collecting sacremoses
  Downloading sacremoses-0.0.45-py3-none-any.whl (895 kB)
     |████████████████████████████████| 895 kB 39.9 MB/s
Collecting huggingface-hub>=0.0.12
  Downloading huggingface_hub-0.0.17-py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 1.6 MB/s
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=2.5.0->recommenders==0.7.0) (3.0.12)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=2.5.0->recommenders==0.7.0) (4.6.4)
Collecting tokenizers<0.11,>=0.10.1
  Downloading tokenizers-0.10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.3 MB)
     |████████████████████████████████| 3.3 MB 32.6 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.0.12->transformers<5,>=2.5.0->recommenders==0.7.0) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers<5,>=2.5.0->recommenders==0.7.0) (3.5.0)
Requirement already satisfied: mpmath in /usr/local/lib/python3.7/dist-packages (from powerlaw->cornac<2,>=1.1.2->recommenders==0.7.0) (1.2.1)
Building wheels for collected packages: recommenders, lightfm, memory-profiler, scikit-surprise
  Building wheel for recommenders (PEP 517) ... done
  Created wheel for recommenders: filename=recommenders-0.7.0-py3-none-any.whl size=313338 sha256=3b7f6be5b222391c3022f44732a7b5c4d903fe8295b924e294619b28d2d204d1
  Stored in directory: /tmp/pip-ephem-wheel-cache-j0c0eu56/wheels/b9/06/d5/12342ff81379a3bbafda343950b5c64869d2e5dbfd348685ea
  Building wheel for lightfm (setup.py) ... done
  Created wheel for lightfm: filename=lightfm-1.16-cp37-cp37m-linux_x86_64.whl size=705363 sha256=c93c0ebfb6b3bad6c77c48778ee901ffde8b933ba9998982fc9f319cdbf07b93
  Stored in directory: /root/.cache/pip/wheels/f8/56/28/5772a3bd3413d65f03aa452190b00898b680b10028a1021914
  Building wheel for memory-profiler (setup.py) ... done
  Created wheel for memory-profiler: filename=memory_profiler-0.58.0-py3-none-any.whl size=30190 sha256=fc9e502435a35eb11d20f95902387d165db350178b17e086ecbf079d04a60bfe
  Stored in directory: /root/.cache/pip/wheels/56/19/d5/8cad06661aec65a04a0d6785b1a5ad035cb645b1772a4a0882
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1619392 sha256=1e7e28d9767c46752d8e25f150aa47a836480649fdd3b957c7aa3288c9c50c24
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built recommenders lightfm memory-profiler scikit-surprise
Installing collected packages: tokenizers, sacremoses, pyyaml, powerlaw, huggingface-hub, transformers, scikit-surprise, pymanopt, pydocumentdb, nltk, memory-profiler, lightfm, cornac, category-encoders, recommenders
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: nltk
    Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
Successfully installed category-encoders-1.3.0 cornac-1.13.5 huggingface-hub-0.0.17 lightfm-1.16 memory-profiler-0.58.0 nltk-3.6.2 powerlaw-1.5 pydocumentdb-2.3.5 pymanopt-0.2.5 pyyaml-5.4.1 recommenders-0.7.0 sacremoses-0.0.45 scikit-surprise-1.1.1 tokenizers-0.10.3 transformers-4.10.2

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 55 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 50.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=f5278b3558c23a8801533ea6591239c3864ba1f9f7b8b247c179d76380ccff1b
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

### Global Setup

In [ ]:
import numpy as np
import pandas as pd
import recommenders

import sys
import pyspark
from pyspark.ml.recommendation import ALS
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import StringType, FloatType, IntegerType, LongType

from recommenders.utils.timer import Timer
from recommenders.datasets import movielens
from recommenders.utils.notebook_utils import is_jupyter
from recommenders.datasets.spark_splitters import spark_random_split
from recommenders.evaluation.spark_evaluation import SparkRatingEvaluation, SparkRankingEvaluation
from recommenders.utils.spark_utils import start_or_get_spark

print("System version: {}".format(sys.version))
print("Spark version: {}".format(pyspark.__version__))

System version: 3.7.11 (default, Jul  3 2021, 18:01:19)
[GCC 7.5.0]
Spark version: 3.1.2

Getting Data from drive. Not critical to overall project, but a helpful if running only on colab. Otherwise, local files are ok

In [ ]:
import gdown
activity_raw_url = 'https://drive.google.com/file/d/1GZ7Pg06hoMGdfDtcAPPNPnQ_ZwIFcEh7/view?usp=sharing'
activity_url     ='https://drive.google.com/uc?id=' + activity_raw_url.split('/')[-2] #Do not change
gdown.download(activity_url, 'activity.csv',quiet=False)

student_info_raw_url = 'https://drive.google.com/file/d/1Y0EmJMalLuoSSe4_CHzf7aSWBV4BEcH4/view?usp=sharing'
student_info_url     ='https://drive.google.com/uc?id=' + student_info_raw_url.split('/')[-2] #Do not change
gdown.download(student_info_url, 'student_info.csv',quiet=False)

student_activity_train_raw_url = 'https://drive.google.com/file/d/1xaXuFboFYe4fwxUBr9ygWlcfaIX-cTbc/view?usp=sharing'
student_activity_train_url     ='https://drive.google.com/uc?id=' + student_activity_train_raw_url.split('/')[-2] #Do not change
gdown.download(student_activity_train_url, 'student_activity_train.csv',quiet=False)

student_activity_test_raw_url = 'https://drive.google.com/file/d/17Rd0DTaQ4APmD0L4sZTHJWMhfdflI5N7/view?usp=sharing'
student_activity_test_url     ='https://drive.google.com/uc?id=' + student_activity_test_raw_url.split('/')[-2] #Do not change
gdown.download(student_activity_test_url, 'student_activity_test.csv',quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1GZ7Pg06hoMGdfDtcAPPNPnQ_ZwIFcEh7
To: /content/activity.csv
100%|██████████| 18.9k/18.9k [00:00<00:00, 9.93MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Y0EmJMalLuoSSe4_CHzf7aSWBV4BEcH4
To: /content/student_info.csv
100%|██████████| 24.9k/24.9k [00:00<00:00, 33.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1xaXuFboFYe4fwxUBr9ygWlcfaIX-cTbc
To: /content/student_activity_train.csv
100%|██████████| 1.06M/1.06M [00:00<00:00, 24.7MB/s]
Downloading...
From: https://drive.google.com/uc?id=17Rd0DTaQ4APmD0L4sZTHJWMhfdflI5N7
To: /content/student_activity_test.csv
100%|██████████| 222k/222k [00:00<00:00, 10.4MB/s]

'student_activity_test.csv'

### Data Exploration

In [ ]:
df_activity = pd.read_csv("activity.csv", index_col=0)
print(df_activity.shape)
df_activity.head()

(155, 25)

           Activity_ID  ... Activity_Level
0    farm-poiki-book-1  ...              0
1    farm-poiki-book-2  ...              0
2    farm-wendy-book-1  ...              0
3    farm-kevin-book-1  ...              0
4  country-none-book-1  ...              0

[5 rows x 25 columns]

In [ ]:
df_students = pd.read_csv("student_info.csv", index_col=0)
print(df_students.shape)
df_students.head()

(250, 13)

   User_ID Gender  ... Learning_Language  Learning_Profile
0        0      F  ...           English                HL
1        1      F  ...           English               BTB
2        2      F  ...            French                IL
3        3      F  ...           English                HL
4        4      M  ...           Spanish                HL

[5 rows x 13 columns]

In [ ]:
df_scores_train = pd.read_csv("student_activity_train.csv", index_col=0)
print(df_scores_train.shape)
df_scores_train.head()

(11880, 7)

   User_ID  ... _Translanguage_Level_Before_Course_Plan
0        0  ...                                       2
1        0  ...                                       2
2        0  ...                                       2
3        0  ...                                       2
4        0  ...                                       2

[5 rows x 7 columns]

In [ ]:
df_scores_test = pd.read_csv("student_activity_test.csv", index_col=0)
print(df_scores_test.shape)
df_scores_test.head()

(2500, 7)

   User_ID  ... _Translanguage_Level_Before_Course_Plan
0        0  ...                                       3
1        0  ...                                       3
2        0  ...                                       3
3        0  ...                                       3
4        0  ...                                       3

[5 rows x 7 columns]

### Build a numerical activity ID as the ALS currently only supports integers for user and item ids.

### Build a mapping Activity_ID -> encoded (numerical) activity ID

In [ ]:
# make sure `Activity_ID` in `df_activity` is unique
assert len(df_activity) == len(df_activity["Activity_ID"].unique())

activity_id_to_encoded_id_dict = df_activity["Activity_ID"].to_dict()
print(activity_id_to_encoded_id_dict)
1encoded_id_to_activity_dict = {v: k for k, v in activity_id_to_encoded_id_dict.items()}  #inverted
print(encoded_id_to_activity_dict)

{0: 'farm-poiki-book-1', 1: 'farm-poiki-book-2', 2: 'farm-wendy-book-1', 3: 'farm-kevin-book-1', 4: 'country-none-book-1', 5: 'country-none-book-2', 6: 'country-none-book-3', 7: 'country-none-book-4', 8: 'home-kevin-book-1', 9: 'daycare-all-book-1', 10: 'world-all-book-1', 11: 'home-wendy-book-1', 12: 'travel-yasmin-book-1', 13: 'who-wendy-book-1', 14: 'who-wendy-book-2', 15: 'lab-wendy-book-1', 16: 'farm-poiki-videoclip-1', 17: 'farm-poiki-videoclip-2', 18: 'theatre-all-videoclip-1', 19: 'country-yasmin-videoclip-1', 20: 'country-wendy-videoclip-1', 21: 'country-yasmin-videoclip-2', 22: 'who-all-videoclip-1', 23: 'farm-yasmin-demovideo-1', 24: 'farm-poiki-demovideo-1', 25: 'farm-kevin-demovideo-1', 26: 'farm-wendy-demovideo-1', 27: 'farm-kevin-demovideo-2', 28: 'farm-poiki-demovideo-2', 29: 'farm-poiki-demovideo-3', 30: 'farm-none-demovideo-1', 31: 'farm-poiki-demovideo-4', 32: 'lab-wendy-demovideo-1', 33: 'who-wendy-demovideo-1', 34: 'who-yasmin-demovideo-1', 35: 'who-kevin-demovideo-1', 36: 'farm-yasmin-flashcards-1', 37: 'vehicles-yasmin-flashcards-1', 38: 'body-yasmin-flashcards-1', 39: 'pets-yasmin-flashcards-1', 40: 'colors-yasmin-flashcards-1', 41: 'seaanimals-yasmin-flashcards-1', 42: 'mycountryanimals-yasmin-flashcards-1', 43: 'instruments-yasmin-flashcards-1', 44: 'fruits-yasmin-flashcards-1', 45: 'veggies-yasmin-flashcards-1', 46: 'sea-yasmin-stickers-1', 47: 'farm-poiki-stickers-1', 48: 'jungle-yasmin-stickers-1', 49: 'forest-kevin-stickers-1', 50: 'body-wendy-stickers-1', 51: 'body-wendy-stickers-2', 52: 'dinosaurs-kevin-stickers-1', 53: 'beach-yasmin-stickers-1', 54: 'home-poiki-stickers-1', 55: 'greetings-poiki-video-1', 56: 'numbers-kevin-video-1', 57: 'numbers-poiki-video-1', 58: 'numbers-kevin-video-2', 59: 'numbers-yasmin-video-1', 60: 'numbers-poiki-video-2', 61: 'vehicles-yasmin-video-1', 62: 'feelings-poiki-video-1', 63: 'greetings-yasmin-video-1', 64: 'socialcode-wendy-video-1', 65: 'feelings-kevwen-video-1', 66: 'farm-poiki-video-1', 67: 'farm-poiki-video-2', 68: 'forestanimals-kevin-puzzle-1', 69: 'farm-wendy-puzzle-1', 70: 'who-wendy-puzzle-1', 71: 'sea-yasmin-puzzle-1', 72: 'jungle-yasmin-puzzle-1', 73: 'desert-yasmin-puzzle-1', 74: '2littlepigs-all-puzzle-1', 75: 'lab-wendy-puzzle-1', 76: 'farm-poiki-puzzle-1', 77: 'lighthouse-yasmin-puzzle-1', 78: 'mycountry-yasmin-puzzle-1', 79: 'forest-kevin-puzzle-1', 80: 'sea-yasmin-puzzle-2', 81: 'veggies-poiki-hotspot-1', 82: 'toys-kevin-hotspot-1', 83: 'farm-wendy-hotspot-1', 84: 'farmanimals-poiki-hotspot-1', 85: 'seanimals-yasmin-hotspot-1', 86: 'who-wendy-hotspot-1', 87: 'farm-wendy-hotspot-2', 88: 'farm-kevin-hotspot-1', 89: 'world-yasmin-hotspot-1', 90: 'sharing-wendy-hotspot-1', 91: 'newkinder-yasmin-hotspot-1', 92: 'newbaby-poiki-hotspot-1', 93: 'foods-poiki-hotspot-1', 94: 'friends-all-hotspot-1', 95: 'feelings-wendy-hotspot-1', 96: 'who-kevin-hotspot-1', 97: 'who-wendy-simulation-1', 98: 'farm-poiki-simulation-1', 99: 'farm-wendy-simulation-2', 100: 'cooking-kevin-simulation-1', 101: 'cooking-poiki-simulation-1', 102: 'cooking-yasmin-simulation-1', 103: 'feelings-poiki-simulation-1', 104: 'sleeping-kevin-simulation-1', 105: 'birthday-wendy-simulation-1', 106: 'christmas-all-simulation-1', 107: 'cooking-kevin-simulation-2', 108: 'who-kevin-simulation-1', 109: 'who-poiki-simulation-2', 110: 'lab-wendy-colors-1', 111: 'who-wendy-routine-2', 112: 'farm-kevin-identification-1', 113: 'farm-wendy-identification-1', 114: 'farm-kevin-piano-1', 115: 'farm-poiki-identification-1', 116: 'family-kevin-identification-1', 117: 'colors-yasmin-identification-1', 118: 'lab-wendy-shapes-1', 119: 'lab-wendy-space-1', 120: 'veggies-poiki-drawing-1', 121: 'fruits-kevin-drawing-1', 122: 'mycountry-yasmin-coloring-1', 123: 'fairtytales-wendy-coloring-1', 124: 'foods-poiki-naming-1', 125: 'mycountry-yasmin-tracing-1', 126: 'alphabet-poiki-tracing-1', 127: 'farm-yasmin-tracing-1', 128: 'alphabet-kevin-tracing-1', 129: 'yho-yasmin-tracing-1', 130: 'farm-kevin-colors-1', 131: 'family-wendy-game-1', 132: 'diapers-kevin-game-1', 133: 'sleeping-poiki-game-1', 134: 'country-birthday-game-1', 135: 'who-wendy-colors-1', 136: 'lab-kevin-game-1', 137: 'pets-bingo-1', 138: 'farmanimals-bingo-1', 139: 'colors-bingo-1', 140: 'myself-bingo-1', 141: 'beach-bingo-1', 142: 'body-roulette-1', 143: 'clothes-roulette-1', 144: 'foodsl-roulette-1', 145: 'shopping-roulette-1', 146: 'insects-roulette-1', 147: 'shapes-poiki-sequence-1', 148: 'shapes-memory-1', 149: 'clothes-memory-1', 150: 'colors-memory-1', 151: 'desertanimals-memory-1', 152: 'dinosaurs-memory-1', 153: 'feelings-memory-1', 154: 'foods-memory-1'}
{'farm-poiki-book-1': 0, 'farm-poiki-book-2': 1, 'farm-wendy-book-1': 2, 'farm-kevin-book-1': 3, 'country-none-book-1': 4, 'country-none-book-2': 5, 'country-none-book-3': 6, 'country-none-book-4': 7, 'home-kevin-book-1': 8, 'daycare-all-book-1': 9, 'world-all-book-1': 10, 'home-wendy-book-1': 11, 'travel-yasmin-book-1': 12, 'who-wendy-book-1': 13, 'who-wendy-book-2': 14, 'lab-wendy-book-1': 15, 'farm-poiki-videoclip-1': 16, 'farm-poiki-videoclip-2': 17, 'theatre-all-videoclip-1': 18, 'country-yasmin-videoclip-1': 19, 'country-wendy-videoclip-1': 20, 'country-yasmin-videoclip-2': 21, 'who-all-videoclip-1': 22, 'farm-yasmin-demovideo-1': 23, 'farm-poiki-demovideo-1': 24, 'farm-kevin-demovideo-1': 25, 'farm-wendy-demovideo-1': 26, 'farm-kevin-demovideo-2': 27, 'farm-poiki-demovideo-2': 28, 'farm-poiki-demovideo-3': 29, 'farm-none-demovideo-1': 30, 'farm-poiki-demovideo-4': 31, 'lab-wendy-demovideo-1': 32, 'who-wendy-demovideo-1': 33, 'who-yasmin-demovideo-1': 34, 'who-kevin-demovideo-1': 35, 'farm-yasmin-flashcards-1': 36, 'vehicles-yasmin-flashcards-1': 37, 'body-yasmin-flashcards-1': 38, 'pets-yasmin-flashcards-1': 39, 'colors-yasmin-flashcards-1': 40, 'seaanimals-yasmin-flashcards-1': 41, 'mycountryanimals-yasmin-flashcards-1': 42, 'instruments-yasmin-flashcards-1': 43, 'fruits-yasmin-flashcards-1': 44, 'veggies-yasmin-flashcards-1': 45, 'sea-yasmin-stickers-1': 46, 'farm-poiki-stickers-1': 47, 'jungle-yasmin-stickers-1': 48, 'forest-kevin-stickers-1': 49, 'body-wendy-stickers-1': 50, 'body-wendy-stickers-2': 51, 'dinosaurs-kevin-stickers-1': 52, 'beach-yasmin-stickers-1': 53, 'home-poiki-stickers-1': 54, 'greetings-poiki-video-1': 55, 'numbers-kevin-video-1': 56, 'numbers-poiki-video-1': 57, 'numbers-kevin-video-2': 58, 'numbers-yasmin-video-1': 59, 'numbers-poiki-video-2': 60, 'vehicles-yasmin-video-1': 61, 'feelings-poiki-video-1': 62, 'greetings-yasmin-video-1': 63, 'socialcode-wendy-video-1': 64, 'feelings-kevwen-video-1': 65, 'farm-poiki-video-1': 66, 'farm-poiki-video-2': 67, 'forestanimals-kevin-puzzle-1': 68, 'farm-wendy-puzzle-1': 69, 'who-wendy-puzzle-1': 70, 'sea-yasmin-puzzle-1': 71, 'jungle-yasmin-puzzle-1': 72, 'desert-yasmin-puzzle-1': 73, '2littlepigs-all-puzzle-1': 74, 'lab-wendy-puzzle-1': 75, 'farm-poiki-puzzle-1': 76, 'lighthouse-yasmin-puzzle-1': 77, 'mycountry-yasmin-puzzle-1': 78, 'forest-kevin-puzzle-1': 79, 'sea-yasmin-puzzle-2': 80, 'veggies-poiki-hotspot-1': 81, 'toys-kevin-hotspot-1': 82, 'farm-wendy-hotspot-1': 83, 'farmanimals-poiki-hotspot-1': 84, 'seanimals-yasmin-hotspot-1': 85, 'who-wendy-hotspot-1': 86, 'farm-wendy-hotspot-2': 87, 'farm-kevin-hotspot-1': 88, 'world-yasmin-hotspot-1': 89, 'sharing-wendy-hotspot-1': 90, 'newkinder-yasmin-hotspot-1': 91, 'newbaby-poiki-hotspot-1': 92, 'foods-poiki-hotspot-1': 93, 'friends-all-hotspot-1': 94, 'feelings-wendy-hotspot-1': 95, 'who-kevin-hotspot-1': 96, 'who-wendy-simulation-1': 97, 'farm-poiki-simulation-1': 98, 'farm-wendy-simulation-2': 99, 'cooking-kevin-simulation-1': 100, 'cooking-poiki-simulation-1': 101, 'cooking-yasmin-simulation-1': 102, 'feelings-poiki-simulation-1': 103, 'sleeping-kevin-simulation-1': 104, 'birthday-wendy-simulation-1': 105, 'christmas-all-simulation-1': 106, 'cooking-kevin-simulation-2': 107, 'who-kevin-simulation-1': 108, 'who-poiki-simulation-2': 109, 'lab-wendy-colors-1': 110, 'who-wendy-routine-2': 111, 'farm-kevin-identification-1': 112, 'farm-wendy-identification-1': 113, 'farm-kevin-piano-1': 114, 'farm-poiki-identification-1': 115, 'family-kevin-identification-1': 116, 'colors-yasmin-identification-1': 117, 'lab-wendy-shapes-1': 118, 'lab-wendy-space-1': 119, 'veggies-poiki-drawing-1': 120, 'fruits-kevin-drawing-1': 121, 'mycountry-yasmin-coloring-1': 122, 'fairtytales-wendy-coloring-1': 123, 'foods-poiki-naming-1': 124, 'mycountry-yasmin-tracing-1': 125, 'alphabet-poiki-tracing-1': 126, 'farm-yasmin-tracing-1': 127, 'alphabet-kevin-tracing-1': 128, 'yho-yasmin-tracing-1': 129, 'farm-kevin-colors-1': 130, 'family-wendy-game-1': 131, 'diapers-kevin-game-1': 132, 'sleeping-poiki-game-1': 133, 'country-birthday-game-1': 134, 'who-wendy-colors-1': 135, 'lab-kevin-game-1': 136, 'pets-bingo-1': 137, 'farmanimals-bingo-1': 138, 'colors-bingo-1': 139, 'myself-bingo-1': 140, 'beach-bingo-1': 141, 'body-roulette-1': 142, 'clothes-roulette-1': 143, 'foodsl-roulette-1': 144, 'shopping-roulette-1': 145, 'insects-roulette-1': 146, 'shapes-poiki-sequence-1': 147, 'shapes-memory-1': 148, 'clothes-memory-1': 149, 'colors-memory-1': 150, 'desertanimals-memory-1': 151, 'dinosaurs-memory-1': 152, 'feelings-memory-1': 153, 'foods-memory-1': 154}

### Add the encoded (numerical) activity id to `df_activitiy`

In [ ]:
df_activity['Activity_Num_ID'] = df_activity['Activity_ID'].map(encoded_id_to_activity_dict)
df_activity.head()

           Activity_ID  ... Activity_Num_ID
0    farm-poiki-book-1  ...               0
1    farm-poiki-book-2  ...               1
2    farm-wendy-book-1  ...               2
3    farm-kevin-book-1  ...               3
4  country-none-book-1  ...               4

[5 rows x 26 columns]

### Add the encoded (numerical) activity id to `df_scores_train`

In [ ]:
df_scores_train['Activity_Num_ID'] = df_scores_train['Activity_ID'].map(encoded_id_to_activity_dict)
df_scores_train.head()

   User_ID  ... Activity_Num_ID
0        0  ...              20
1        0  ...              19
2        0  ...             110
3        0  ...             135
4        0  ...              66

[5 rows x 8 columns]

### Add the encoded (numerical) activity id to `df_scores_test`

In [ ]:
df_scores_test['Activity_Num_ID'] = df_scores_test['Activity_ID'].map(encoded_id_to_activity_dict)
df_scores_test.head()

   User_ID  ... Activity_Num_ID
0        0  ...             102
1        0  ...              67
2        0  ...             136
3        0  ...             146
4        0  ...             102

[5 rows x 8 columns]

### Set up Spark context

In [ ]:
# the following settings work well for debugging locally on VM - change when running on a cluster
# set up a giant single executor with many threads and specify memory cap
spark = start_or_get_spark("ALS PySpark", memory="16g")

In [ ]:
# top k items to recommend
TOP_K = 10

### Create the train and test dataset using spark

In [ ]:
# Note: The DataFrame-based API for ALS currently only supports integers for user and item ids.
schema = StructType(
    (
        StructField("User_ID", IntegerType()),
        StructField("Activity_Num_ID", IntegerType()),
        StructField("Usefulness_Score", FloatType()),
        # StructField("Timestamp", LongType()),
    )
)

In [ ]:
train = spark.createDataFrame(df_scores_train[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], schema=schema)
train.show()

+-------+---------------+----------------+
|User_ID|Activity_Num_ID|Usefulness_Score|
+-------+---------------+----------------+
|      0|             20|      0.13979952|
|      0|             19|      0.08462363|
|      0|            110|      0.06583124|
|      0|            135|     0.011639966|
|      0|             66|      0.03844588|
|      0|            140|      0.12760982|
|      0|              4|      0.38467258|
|      0|             67|       0.2677407|
|      0|            142|      0.23321155|
|      0|              6|      0.11221865|
|      0|            144|      0.49340522|
|      0|            102|      0.18139784|
|      0|            146|      0.23465453|
|      0|            140|      0.08161085|
|      0|            102|       0.1039794|
|      0|             14|     0.042830396|
|      0|             66|     0.043932125|
|      0|            119|     0.023190195|
|      0|             67|            -0.0|
|      0|            136|     9.232206E-4|
+-------+---------------+----------------+
only showing top 20 rows

In [ ]:
test = spark.createDataFrame(df_scores_test[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], schema=schema)
test.show()

+-------+---------------+----------------+
|User_ID|Activity_Num_ID|Usefulness_Score|
+-------+---------------+----------------+
|      0|            102|      0.39010146|
|      0|             67|      0.16890566|
|      0|            136|      0.09244091|
|      0|            146|     0.079837985|
|      0|            102|      0.05522651|
|      0|             14|       0.5059616|
|      0|             66|      0.11612179|
|      0|            140|     0.096445695|
|      0|            144|      0.26811612|
|      0|            119|      0.12221528|
|      1|            140|      0.55767816|
|      1|            135|      0.46363315|
|      1|            145|      0.21864375|
|      1|            147|       0.5606937|
|      1|             14|      0.47170857|
|      1|            137|       0.5093477|
|      1|             67|       0.4523332|
|      1|             15|       0.4884733|
|      1|            119|      0.45285666|
|      1|            136|      0.48469877|
+-------+---------------+----------------+
only showing top 20 rows

### Train the ALS model on the training data, and get the top-k recommendations for our testing data

In [ ]:
header = {
    "userCol": "User_ID",
    "itemCol": "Activity_Num_ID",
    "ratingCol": "Usefulness_Score",
}


als = ALS(
    rank=10,
    maxIter=15,
    implicitPrefs=False,
    regParam=0.05,
    coldStartStrategy='drop',
    nonnegative=False,
    seed=42,
    **header
)

In [ ]:
with Timer() as train_time:
    model = als.fit(train)

print("Took {} seconds for training.".format(train_time.interval))

Took 12.719900020000011 seconds for training.

In [ ]:
with Timer() as test_time:

    # Get the cross join of all user-item pairs and score them.
    users = train.select('User_ID').distinct()
    items = train.select('Activity_Num_ID').distinct()
    user_item = users.crossJoin(items)
    dfs_pred = model.transform(user_item)

    # Remove seen items.
    dfs_pred_exclude_train = dfs_pred.alias("pred").join(
        train.alias("train"),
        (dfs_pred['User_ID'] == train['User_ID']) & (dfs_pred['Activity_Num_ID'] == train['Activity_Num_ID']),
        how='outer'
    )

    top_all = dfs_pred_exclude_train.filter(dfs_pred_exclude_train["train.Usefulness_Score"].isNull()) \
        .select('pred.' + 'User_ID', 'pred.' + 'Activity_Num_ID', 'pred.' + "prediction")

    # In Spark, transformations are lazy evaluation
    # Use an action to force execute and measure the test time 
    top_all.cache().count()

print("Took {} seconds for prediction.".format(test_time.interval))

Took 259.79947379699996 seconds for prediction.

In [ ]:
top_all.show()

+-------+---------------+-----------+
|User_ID|Activity_Num_ID| prediction|
+-------+---------------+-----------+
|      3|             22| 0.20239624|
|      3|             89| 0.15910716|
|     12|            115| 0.12566525|
|     17|            138| 0.22016704|
|     18|             68| 0.47474045|
|     20|            121|  0.1408331|
|     21|            140|   0.251435|
|     25|             61|   0.451927|
|     27|             65|  0.5214742|
|     28|             63| 0.33487332|
|     32|             26| 0.37788752|
|     35|             45|  0.5765959|
|     37|            138| 0.22469497|
|     43|            100| 0.49194843|
|     56|             26| 0.11153958|
|     58|             34|0.048314597|
|     58|             81|0.096042395|
|     58|             93| 0.06463966|
|     60|             84| 0.40883777|
|     61|             13|  0.2476313|
+-------+---------------+-----------+
only showing top 20 rows

### Evaluate how well ALS performs

In [ ]:
rank_eval = SparkRankingEvaluation(test, top_all, k = TOP_K, col_user="User_ID", col_item="Activity_Num_ID", 
                                    col_rating="Usefulness_Score", col_prediction="prediction", 
                                    relevancy_method="top_k")

In [ ]:
print("Model:\tALS",
      "Top K:\t%d" % rank_eval.k,
      "MAP:\t%f" % rank_eval.map_at_k(),
      "NDCG:\t%f" % rank_eval.ndcg_at_k(),
      "Precision@K:\t%f" % rank_eval.precision_at_k(),
      "Recall@K:\t%f" % rank_eval.recall_at_k(), sep='\n')

Model:	ALS
Top K:	10
MAP:	0.000050
NDCG:	0.000278
Precision@K:	0.000400
Recall@K:	0.000400

### Evaluate rating prediction

In [ ]:
# Generate predicted ratings.
prediction = model.transform(test)
prediction.cache().show()

+-------+---------------+----------------+----------+
|User_ID|Activity_Num_ID|Usefulness_Score|prediction|
+-------+---------------+----------------+----------+
|     27|            137|       0.6228585| 0.5683333|
|    192|            137|      0.17410272|0.54196334|
|      1|            137|       0.5093477| 0.6442136|
|    117|            137|     0.039939724| 0.1382233|
|    179|            137|      0.11204991|0.21670061|
|     17|            137|      0.23561443| 0.3843096|
|     55|            137|       0.4837254| 0.3977306|
|    181|            137|      0.40124723|0.22585054|
|    157|             65|      0.12371699|0.28512174|
|     47|             65|      0.11421632|0.26712978|
|     54|             65|      0.27657962| 0.6711551|
|     87|             65|      0.01716716| 0.4087825|
|    141|             65|       0.4039578|0.10350898|
|    145|             65|       0.5833708| 0.6785665|
|    188|             65|       0.3424083|0.73829913|
|    118|             65|     0.014484879|0.38851273|
|    153|             65|     0.013191804|0.14111768|
|     85|             78|      0.35171524| 0.6805432|
|    140|             78|      0.24776399| 0.4313154|
|     52|             78|       0.6071835|0.72306633|
+-------+---------------+----------------+----------+
only showing top 20 rows

In [ ]:
rating_eval = SparkRatingEvaluation(test, prediction, col_user="User_ID", col_item="Activity_Num_ID", 
                                    col_rating="Usefulness_Score", col_prediction="prediction")

print("Model:\tALS rating prediction",
      "RMSE:\t%f" % rating_eval.rmse(),
      "MAE:\t%f" % rating_eval.mae(),
      "Explained variance:\t%f" % rating_eval.exp_var(),
      "R squared:\t%f" % rating_eval.rsquared(), sep='\n')

Model:	ALS rating prediction
RMSE:	0.263660
MAE:	0.189872
Explained variance:	-0.579172
R squared:	-0.825282

### Show predictions in pandas

In [ ]:
# prediction for user 0
resultUser0 = top_all[top_all['User_ID'] == 0]

In [ ]:
resultUser0 = resultUser0.sort(resultUser0.prediction.desc())

In [ ]:
resultUser0.show()

+-------+---------------+----------+
|User_ID|Activity_Num_ID|prediction|
+-------+---------------+----------+
|      0|             44|0.20318745|
|      0|            100| 0.1760679|
|      0|             78| 0.1742489|
|      0|             35|0.17127803|
|      0|             43| 0.1711221|
|      0|             13|0.16606975|
|      0|            126|0.16470516|
|      0|            153|0.16429436|
|      0|            115|0.16416253|
|      0|            143|0.16398223|
|      0|             45|0.16283046|
|      0|             21|0.16138808|
|      0|            147|0.15896507|
|      0|             22|0.15882505|
|      0|             26|0.15817665|
|      0|            154|0.15670955|
|      0|            118| 0.1562823|
|      0|            128|0.14911705|
|      0|             34|0.14782806|
|      0|            152| 0.1471505|
+-------+---------------+----------+
only showing top 20 rows

In [ ]:
df_resultUser0 = resultUser0.select("*").toPandas()

In [ ]:
df_resultUser0.head(n=10)

   User_ID  Activity_Num_ID  prediction
0        0               44    0.203187
1        0              100    0.176068
2        0               78    0.174249
3        0               35    0.171278
4        0               43    0.171122
5        0               13    0.166070
6        0              126    0.164705
7        0              153    0.164294
8        0              115    0.164163
9        0              143    0.163982

In [ ]:
# merge top 10 prediction with activities dataframe
df_resultUser0 = pd.merge(df_resultUser0, df_activity, on='Activity_Num_ID', how='left')

In [ ]:
print("User 0 top 10 predictions")
df_resultUser0[['prediction', 'User_ID', 'Activity_Num_ID', 'Activity_Name']].head(n=10)

User 0 top 10 predictions

   prediction  User_ID  Activity_Num_ID                          Activity_Name
0    0.203187        0               44                   Flashcards - fruits
1    0.176068        0              100    Preparing some food from my country
2    0.174249        0               78  6-pieces puzzle: Yasmin in my country
3    0.171278        0               35        Demo vídeo: decorating the cake
4    0.171122        0               43      Flashcards - musical instruments
5    0.166070        0               13             Book: Wendy is a scientist
6    0.164705        0              126                                My name
7    0.164294        0              153                    4 pairs memory game
8    0.164163        0              115   Poiki is harvesting with his tractor
9    0.163982        0              143       Roulette - get the right clothes