In [ ]:
pip install git+https://github.com/microsoft/recommenders.git

Collecting git+https://github.com/microsoft/recommenders.git
  Cloning https://github.com/microsoft/recommenders.git to /tmp/pip-req-build-chflw5ta
  Running command git clone -q https://github.com/microsoft/recommenders.git /tmp/pip-req-build-chflw5ta
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting scikit-surprise<=1.1.1,>=0.19.1
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 4.5 MB/s
Collecting cornac<2,>=1.1.2
  Downloading cornac-1.14.0-cp37-cp37m-manylinux1_x86_64.whl (12.4 MB)
     |████████████████████████████████| 12.4 MB 31 kB/s
Requirement already satisfied: scikit-learn<1,>=0.22.1 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (0.22.2.post1)
Requirement already satisfied: matplotlib<4,>=2.2.2 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (3.2.2)
Collecting category-encoders<2,>=1.3.0
  Downloading category_encoders-1.3.0-py2.py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 8.6 MB/s
Collecting memory-profiler<1,>=0.54.0
  Downloading memory_profiler-0.58.0.tar.gz (36 kB)
Collecting transformers<5,>=2.5.0
  Downloading transformers-4.10.2-py3-none-any.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 21.9 MB/s
Collecting pyyaml<6,>=5.4.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 54.2 MB/s
Requirement already satisfied: pandas<2,>1.0.3 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (1.1.5)
Collecting pydocumentdb>=2.3.3<3
  Downloading pydocumentdb-2.3.5-py3-none-any.whl (93 kB)
     |████████████████████████████████| 93 kB 2.5 MB/s
Requirement already satisfied: bottleneck<2,>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (1.3.2)
Requirement already satisfied: jinja2<3,>=2 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (2.11.3)
Requirement already satisfied: requests<3,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (2.23.0)
Requirement already satisfied: lightgbm<3,>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (2.2.3)
Collecting nltk<4,>=3.4
  Downloading nltk-3.6.2-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 67.0 MB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (1.3.3)
Collecting lightfm<2,>=1.15
  Downloading lightfm-1.16.tar.gz (310 kB)
     |████████████████████████████████| 310 kB 66.3 MB/s
Requirement already satisfied: numba<1,>=0.38.1 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (0.51.2)
Collecting pymanopt<1,>=0.2.5
  Downloading pymanopt-0.2.5-py3-none-any.whl (59 kB)
     |████████████████████████████████| 59 kB 7.3 MB/s
Requirement already satisfied: tqdm<5,>=4.31.1 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (4.62.2)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (1.19.5)
Requirement already satisfied: seaborn<1,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (0.11.2)
Requirement already satisfied: scipy<2,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from recommenders==0.7.0) (1.4.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders<2,>=1.3.0->recommenders==0.7.0) (0.5.1)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders<2,>=1.3.0->recommenders==0.7.0) (0.10.2)
Collecting powerlaw
  Downloading powerlaw-1.5-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2<3,>=2->recommenders==0.7.0) (2.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=2.2.2->recommenders==0.7.0) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=2.2.2->recommenders==0.7.0) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=2.2.2->recommenders==0.7.0) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=2.2.2->recommenders==0.7.0) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib<4,>=2.2.2->recommenders==0.7.0) (1.15.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from memory-profiler<1,>=0.54.0->recommenders==0.7.0) (5.4.8)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk<4,>=3.4->recommenders==0.7.0) (7.1.2)
Requirement already satisfied: regex in /usr/local/lib/python3.7/dist-packages (from nltk<4,>=3.4->recommenders==0.7.0) (2019.12.20)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk<4,>=3.4->recommenders==0.7.0) (1.0.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba<1,>=0.38.1->recommenders==0.7.0) (57.4.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba<1,>=0.38.1->recommenders==0.7.0) (0.34.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>1.0.3->recommenders==0.7.0) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.0.0->recommenders==0.7.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.0.0->recommenders==0.7.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.0.0->recommenders==0.7.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.0.0->recommenders==0.7.0) (2021.5.30)
Collecting sacremoses
  Downloading sacremoses-0.0.45-py3-none-any.whl (895 kB)
     |████████████████████████████████| 895 kB 65.4 MB/s
Collecting tokenizers<0.11,>=0.10.1
  Downloading tokenizers-0.10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.3 MB)
     |████████████████████████████████| 3.3 MB 49.9 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=2.5.0->recommenders==0.7.0) (21.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=2.5.0->recommenders==0.7.0) (3.0.12)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=2.5.0->recommenders==0.7.0) (4.8.1)
Collecting huggingface-hub>=0.0.12
  Downloading huggingface_hub-0.0.17-py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 1.8 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.0.12->transformers<5,>=2.5.0->recommenders==0.7.0) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers<5,>=2.5.0->recommenders==0.7.0) (3.5.0)
Requirement already satisfied: mpmath in /usr/local/lib/python3.7/dist-packages (from powerlaw->cornac<2,>=1.1.2->recommenders==0.7.0) (1.2.1)
Building wheels for collected packages: recommenders, lightfm, memory-profiler, scikit-surprise
  Building wheel for recommenders (PEP 517) ... done
  Created wheel for recommenders: filename=recommenders-0.7.0-py3-none-any.whl size=313338 sha256=d0f63d024925fb0ae46a4afd89e9f80a682c180d4a5f4ada204f1bcd456cd99d
  Stored in directory: /tmp/pip-ephem-wheel-cache-qtbkx31e/wheels/b9/06/d5/12342ff81379a3bbafda343950b5c64869d2e5dbfd348685ea
  Building wheel for lightfm (setup.py) ... done
  Created wheel for lightfm: filename=lightfm-1.16-cp37-cp37m-linux_x86_64.whl size=705379 sha256=3132ab9ef70566a68b170ab9418de01a3291bd58b50e267709c31191b4f8ba5b
  Stored in directory: /root/.cache/pip/wheels/f8/56/28/5772a3bd3413d65f03aa452190b00898b680b10028a1021914
  Building wheel for memory-profiler (setup.py) ... done
  Created wheel for memory-profiler: filename=memory_profiler-0.58.0-py3-none-any.whl size=30190 sha256=12ca43a755e266b4c72ec821e29d31f324d97291b61ab3fa78ee80d094ec78c1
  Stored in directory: /root/.cache/pip/wheels/56/19/d5/8cad06661aec65a04a0d6785b1a5ad035cb645b1772a4a0882
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1619417 sha256=f8445ae7b6beebe00eaf291b7ccdece3ce80766fca9c0f7eb07477d4037b661b
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built recommenders lightfm memory-profiler scikit-surprise
Installing collected packages: tokenizers, sacremoses, pyyaml, powerlaw, huggingface-hub, transformers, scikit-surprise, pymanopt, pydocumentdb, nltk, memory-profiler, lightfm, cornac, category-encoders, recommenders
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: nltk
    Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
Successfully installed category-encoders-1.3.0 cornac-1.14.0 huggingface-hub-0.0.17 lightfm-1.16 memory-profiler-0.58.0 nltk-3.6.2 powerlaw-1.5 pydocumentdb-2.3.5 pymanopt-0.2.5 pyyaml-5.4.1 recommenders-0.7.0 sacremoses-0.0.45 scikit-surprise-1.1.1 tokenizers-0.10.3 transformers-4.10.2

### Surprise implementation of SVD

SVD is implemented in the [Surprise](https://surprise.readthedocs.io/en/stable/) library as a recommender module.
* Detailed documentations of the SVD module in Surprise can be found [here](https://surprise.readthedocs.io/en/stable/matrix_factorization.html#surprise.prediction_algorithms.matrix_factorization.SVD)
* Source codes of the SVD implementation is available on the Surprise Github repository, which can be found [here](https://github.com/NicolasHug/Surprise/blob/master/surprise/prediction_algorithms/matrix_factorization.pyx).

### Surprise SVD

Surprise supports dataframes as long as they have three colums reprensenting the user ids, item ids, and the ratings (in this order).

### Global Setup

In [ ]:
import sys
import os
import surprise
import pandas as pd
import numpy as np

import recommenders
from recommenders.utils.timer import Timer
from recommenders.datasets.python_splitters import python_random_split
from recommenders.evaluation.python_evaluation import (rmse, mae, rsquared, exp_var, map_at_k, ndcg_at_k, precision_at_k, 
                                                     recall_at_k, get_top_k_items)
from recommenders.models.surprise.surprise_utils import predict, compute_ranking_predictions

print("System version: {}".format(sys.version))
print("Surprise version: {}".format(surprise.__version__))

System version: 3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
Surprise version: 1.1.1

Getting Data from drive. Not critical to overall project, but a helpful if running only on colab. Otherwise, local files are ok

In [ ]:
import gdown
activity_raw_url = 'https://drive.google.com/file/d/1GZ7Pg06hoMGdfDtcAPPNPnQ_ZwIFcEh7/view?usp=sharing'
activity_url     ='https://drive.google.com/uc?id=' + activity_raw_url.split('/')[-2] #Do not change
gdown.download(activity_url, 'activity.csv',quiet=False)

student_info_raw_url = 'https://drive.google.com/file/d/1Y0EmJMalLuoSSe4_CHzf7aSWBV4BEcH4/view?usp=sharing'
student_info_url     ='https://drive.google.com/uc?id=' + student_info_raw_url.split('/')[-2] #Do not change
gdown.download(student_info_url, 'student_info.csv',quiet=False)

student_activity_train_raw_url = 'https://drive.google.com/file/d/1xaXuFboFYe4fwxUBr9ygWlcfaIX-cTbc/view?usp=sharing'
student_activity_train_url     ='https://drive.google.com/uc?id=' + student_activity_train_raw_url.split('/')[-2] #Do not change
gdown.download(student_activity_train_url, 'student_activity_train.csv',quiet=False)

student_activity_test_raw_url = 'https://drive.google.com/file/d/17Rd0DTaQ4APmD0L4sZTHJWMhfdflI5N7/view?usp=sharing'
student_activity_test_url     ='https://drive.google.com/uc?id=' + student_activity_test_raw_url.split('/')[-2] #Do not change
gdown.download(student_activity_test_url, 'student_activity_test.csv',quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1GZ7Pg06hoMGdfDtcAPPNPnQ_ZwIFcEh7
To: /content/activity.csv
100%|██████████| 18.9k/18.9k [00:00<00:00, 6.09MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Y0EmJMalLuoSSe4_CHzf7aSWBV4BEcH4
To: /content/student_info.csv
100%|██████████| 24.9k/24.9k [00:00<00:00, 15.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1xaXuFboFYe4fwxUBr9ygWlcfaIX-cTbc
To: /content/student_activity_train.csv
100%|██████████| 1.06M/1.06M [00:00<00:00, 68.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=17Rd0DTaQ4APmD0L4sZTHJWMhfdflI5N7
To: /content/student_activity_test.csv
100%|██████████| 222k/222k [00:00<00:00, 63.0MB/s]

'student_activity_test.csv'

### Data Exploration

In [ ]:
df_activity = pd.read_csv("activity.csv", index_col=0)
print(df_activity.shape)
df_activity.head()

(155, 25)

           Activity_ID  ... Activity_Level
0    farm-poiki-book-1  ...              0
1    farm-poiki-book-2  ...              0
2    farm-wendy-book-1  ...              0
3    farm-kevin-book-1  ...              0
4  country-none-book-1  ...              0

[5 rows x 25 columns]

In [ ]:
df_students = pd.read_csv("student_info.csv", index_col=0)
print(df_students.shape)
df_students.head()

(250, 13)

   User_ID Gender  ... Learning_Language  Learning_Profile
0        0      F  ...           English                HL
1        1      F  ...           English               BTB
2        2      F  ...            French                IL
3        3      F  ...           English                HL
4        4      M  ...           Spanish                HL

[5 rows x 13 columns]

In [ ]:
df_scores_train = pd.read_csv("student_activity_train.csv", index_col=0)
print(df_scores_train.shape)
df_scores_train.head()

(11880, 7)

   User_ID  ... _Translanguage_Level_Before_Course_Plan
0        0  ...                                       2
1        0  ...                                       2
2        0  ...                                       2
3        0  ...                                       2
4        0  ...                                       2

[5 rows x 7 columns]

In [ ]:
df_scores_test = pd.read_csv("student_activity_test.csv", index_col=0)
print(df_scores_test.shape)
df_scores_test.head()

(2500, 7)

   User_ID  ... _Translanguage_Level_Before_Course_Plan
0        0  ...                                       3
1        0  ...                                       3
2        0  ...                                       3
3        0  ...                                       3
4        0  ...                                       3

[5 rows x 7 columns]

### Build a mapping Activity_ID -> encoded (numerical) activity ID

In [ ]:
# make sure `Activity_ID` in `df_activity` is unique
assert len(df_activity) == len(df_activity["Activity_ID"].unique())

activity_id_to_encoded_id_dict = df_activity["Activity_ID"].to_dict()
print(activity_id_to_encoded_id_dict)
encoded_id_to_activity_dict = {v: k for k, v in activity_id_to_encoded_id_dict.items()}  #inverted
print(encoded_id_to_activity_dict)

{0: 'farm-poiki-book-1', 1: 'farm-poiki-book-2', 2: 'farm-wendy-book-1', 3: 'farm-kevin-book-1', 4: 'country-none-book-1', 5: 'country-none-book-2', 6: 'country-none-book-3', 7: 'country-none-book-4', 8: 'home-kevin-book-1', 9: 'daycare-all-book-1', 10: 'world-all-book-1', 11: 'home-wendy-book-1', 12: 'travel-yasmin-book-1', 13: 'who-wendy-book-1', 14: 'who-wendy-book-2', 15: 'lab-wendy-book-1', 16: 'farm-poiki-videoclip-1', 17: 'farm-poiki-videoclip-2', 18: 'theatre-all-videoclip-1', 19: 'country-yasmin-videoclip-1', 20: 'country-wendy-videoclip-1', 21: 'country-yasmin-videoclip-2', 22: 'who-all-videoclip-1', 23: 'farm-yasmin-demovideo-1', 24: 'farm-poiki-demovideo-1', 25: 'farm-kevin-demovideo-1', 26: 'farm-wendy-demovideo-1', 27: 'farm-kevin-demovideo-2', 28: 'farm-poiki-demovideo-2', 29: 'farm-poiki-demovideo-3', 30: 'farm-none-demovideo-1', 31: 'farm-poiki-demovideo-4', 32: 'lab-wendy-demovideo-1', 33: 'who-wendy-demovideo-1', 34: 'who-yasmin-demovideo-1', 35: 'who-kevin-demovideo-1', 36: 'farm-yasmin-flashcards-1', 37: 'vehicles-yasmin-flashcards-1', 38: 'body-yasmin-flashcards-1', 39: 'pets-yasmin-flashcards-1', 40: 'colors-yasmin-flashcards-1', 41: 'seaanimals-yasmin-flashcards-1', 42: 'mycountryanimals-yasmin-flashcards-1', 43: 'instruments-yasmin-flashcards-1', 44: 'fruits-yasmin-flashcards-1', 45: 'veggies-yasmin-flashcards-1', 46: 'sea-yasmin-stickers-1', 47: 'farm-poiki-stickers-1', 48: 'jungle-yasmin-stickers-1', 49: 'forest-kevin-stickers-1', 50: 'body-wendy-stickers-1', 51: 'body-wendy-stickers-2', 52: 'dinosaurs-kevin-stickers-1', 53: 'beach-yasmin-stickers-1', 54: 'home-poiki-stickers-1', 55: 'greetings-poiki-video-1', 56: 'numbers-kevin-video-1', 57: 'numbers-poiki-video-1', 58: 'numbers-kevin-video-2', 59: 'numbers-yasmin-video-1', 60: 'numbers-poiki-video-2', 61: 'vehicles-yasmin-video-1', 62: 'feelings-poiki-video-1', 63: 'greetings-yasmin-video-1', 64: 'socialcode-wendy-video-1', 65: 'feelings-kevwen-video-1', 66: 'farm-poiki-video-1', 67: 'farm-poiki-video-2', 68: 'forestanimals-kevin-puzzle-1', 69: 'farm-wendy-puzzle-1', 70: 'who-wendy-puzzle-1', 71: 'sea-yasmin-puzzle-1', 72: 'jungle-yasmin-puzzle-1', 73: 'desert-yasmin-puzzle-1', 74: '2littlepigs-all-puzzle-1', 75: 'lab-wendy-puzzle-1', 76: 'farm-poiki-puzzle-1', 77: 'lighthouse-yasmin-puzzle-1', 78: 'mycountry-yasmin-puzzle-1', 79: 'forest-kevin-puzzle-1', 80: 'sea-yasmin-puzzle-2', 81: 'veggies-poiki-hotspot-1', 82: 'toys-kevin-hotspot-1', 83: 'farm-wendy-hotspot-1', 84: 'farmanimals-poiki-hotspot-1', 85: 'seanimals-yasmin-hotspot-1', 86: 'who-wendy-hotspot-1', 87: 'farm-wendy-hotspot-2', 88: 'farm-kevin-hotspot-1', 89: 'world-yasmin-hotspot-1', 90: 'sharing-wendy-hotspot-1', 91: 'newkinder-yasmin-hotspot-1', 92: 'newbaby-poiki-hotspot-1', 93: 'foods-poiki-hotspot-1', 94: 'friends-all-hotspot-1', 95: 'feelings-wendy-hotspot-1', 96: 'who-kevin-hotspot-1', 97: 'who-wendy-simulation-1', 98: 'farm-poiki-simulation-1', 99: 'farm-wendy-simulation-2', 100: 'cooking-kevin-simulation-1', 101: 'cooking-poiki-simulation-1', 102: 'cooking-yasmin-simulation-1', 103: 'feelings-poiki-simulation-1', 104: 'sleeping-kevin-simulation-1', 105: 'birthday-wendy-simulation-1', 106: 'christmas-all-simulation-1', 107: 'cooking-kevin-simulation-2', 108: 'who-kevin-simulation-1', 109: 'who-poiki-simulation-2', 110: 'lab-wendy-colors-1', 111: 'who-wendy-routine-2', 112: 'farm-kevin-identification-1', 113: 'farm-wendy-identification-1', 114: 'farm-kevin-piano-1', 115: 'farm-poiki-identification-1', 116: 'family-kevin-identification-1', 117: 'colors-yasmin-identification-1', 118: 'lab-wendy-shapes-1', 119: 'lab-wendy-space-1', 120: 'veggies-poiki-drawing-1', 121: 'fruits-kevin-drawing-1', 122: 'mycountry-yasmin-coloring-1', 123: 'fairtytales-wendy-coloring-1', 124: 'foods-poiki-naming-1', 125: 'mycountry-yasmin-tracing-1', 126: 'alphabet-poiki-tracing-1', 127: 'farm-yasmin-tracing-1', 128: 'alphabet-kevin-tracing-1', 129: 'yho-yasmin-tracing-1', 130: 'farm-kevin-colors-1', 131: 'family-wendy-game-1', 132: 'diapers-kevin-game-1', 133: 'sleeping-poiki-game-1', 134: 'country-birthday-game-1', 135: 'who-wendy-colors-1', 136: 'lab-kevin-game-1', 137: 'pets-bingo-1', 138: 'farmanimals-bingo-1', 139: 'colors-bingo-1', 140: 'myself-bingo-1', 141: 'beach-bingo-1', 142: 'body-roulette-1', 143: 'clothes-roulette-1', 144: 'foodsl-roulette-1', 145: 'shopping-roulette-1', 146: 'insects-roulette-1', 147: 'shapes-poiki-sequence-1', 148: 'shapes-memory-1', 149: 'clothes-memory-1', 150: 'colors-memory-1', 151: 'desertanimals-memory-1', 152: 'dinosaurs-memory-1', 153: 'feelings-memory-1', 154: 'foods-memory-1'}
{'farm-poiki-book-1': 0, 'farm-poiki-book-2': 1, 'farm-wendy-book-1': 2, 'farm-kevin-book-1': 3, 'country-none-book-1': 4, 'country-none-book-2': 5, 'country-none-book-3': 6, 'country-none-book-4': 7, 'home-kevin-book-1': 8, 'daycare-all-book-1': 9, 'world-all-book-1': 10, 'home-wendy-book-1': 11, 'travel-yasmin-book-1': 12, 'who-wendy-book-1': 13, 'who-wendy-book-2': 14, 'lab-wendy-book-1': 15, 'farm-poiki-videoclip-1': 16, 'farm-poiki-videoclip-2': 17, 'theatre-all-videoclip-1': 18, 'country-yasmin-videoclip-1': 19, 'country-wendy-videoclip-1': 20, 'country-yasmin-videoclip-2': 21, 'who-all-videoclip-1': 22, 'farm-yasmin-demovideo-1': 23, 'farm-poiki-demovideo-1': 24, 'farm-kevin-demovideo-1': 25, 'farm-wendy-demovideo-1': 26, 'farm-kevin-demovideo-2': 27, 'farm-poiki-demovideo-2': 28, 'farm-poiki-demovideo-3': 29, 'farm-none-demovideo-1': 30, 'farm-poiki-demovideo-4': 31, 'lab-wendy-demovideo-1': 32, 'who-wendy-demovideo-1': 33, 'who-yasmin-demovideo-1': 34, 'who-kevin-demovideo-1': 35, 'farm-yasmin-flashcards-1': 36, 'vehicles-yasmin-flashcards-1': 37, 'body-yasmin-flashcards-1': 38, 'pets-yasmin-flashcards-1': 39, 'colors-yasmin-flashcards-1': 40, 'seaanimals-yasmin-flashcards-1': 41, 'mycountryanimals-yasmin-flashcards-1': 42, 'instruments-yasmin-flashcards-1': 43, 'fruits-yasmin-flashcards-1': 44, 'veggies-yasmin-flashcards-1': 45, 'sea-yasmin-stickers-1': 46, 'farm-poiki-stickers-1': 47, 'jungle-yasmin-stickers-1': 48, 'forest-kevin-stickers-1': 49, 'body-wendy-stickers-1': 50, 'body-wendy-stickers-2': 51, 'dinosaurs-kevin-stickers-1': 52, 'beach-yasmin-stickers-1': 53, 'home-poiki-stickers-1': 54, 'greetings-poiki-video-1': 55, 'numbers-kevin-video-1': 56, 'numbers-poiki-video-1': 57, 'numbers-kevin-video-2': 58, 'numbers-yasmin-video-1': 59, 'numbers-poiki-video-2': 60, 'vehicles-yasmin-video-1': 61, 'feelings-poiki-video-1': 62, 'greetings-yasmin-video-1': 63, 'socialcode-wendy-video-1': 64, 'feelings-kevwen-video-1': 65, 'farm-poiki-video-1': 66, 'farm-poiki-video-2': 67, 'forestanimals-kevin-puzzle-1': 68, 'farm-wendy-puzzle-1': 69, 'who-wendy-puzzle-1': 70, 'sea-yasmin-puzzle-1': 71, 'jungle-yasmin-puzzle-1': 72, 'desert-yasmin-puzzle-1': 73, '2littlepigs-all-puzzle-1': 74, 'lab-wendy-puzzle-1': 75, 'farm-poiki-puzzle-1': 76, 'lighthouse-yasmin-puzzle-1': 77, 'mycountry-yasmin-puzzle-1': 78, 'forest-kevin-puzzle-1': 79, 'sea-yasmin-puzzle-2': 80, 'veggies-poiki-hotspot-1': 81, 'toys-kevin-hotspot-1': 82, 'farm-wendy-hotspot-1': 83, 'farmanimals-poiki-hotspot-1': 84, 'seanimals-yasmin-hotspot-1': 85, 'who-wendy-hotspot-1': 86, 'farm-wendy-hotspot-2': 87, 'farm-kevin-hotspot-1': 88, 'world-yasmin-hotspot-1': 89, 'sharing-wendy-hotspot-1': 90, 'newkinder-yasmin-hotspot-1': 91, 'newbaby-poiki-hotspot-1': 92, 'foods-poiki-hotspot-1': 93, 'friends-all-hotspot-1': 94, 'feelings-wendy-hotspot-1': 95, 'who-kevin-hotspot-1': 96, 'who-wendy-simulation-1': 97, 'farm-poiki-simulation-1': 98, 'farm-wendy-simulation-2': 99, 'cooking-kevin-simulation-1': 100, 'cooking-poiki-simulation-1': 101, 'cooking-yasmin-simulation-1': 102, 'feelings-poiki-simulation-1': 103, 'sleeping-kevin-simulation-1': 104, 'birthday-wendy-simulation-1': 105, 'christmas-all-simulation-1': 106, 'cooking-kevin-simulation-2': 107, 'who-kevin-simulation-1': 108, 'who-poiki-simulation-2': 109, 'lab-wendy-colors-1': 110, 'who-wendy-routine-2': 111, 'farm-kevin-identification-1': 112, 'farm-wendy-identification-1': 113, 'farm-kevin-piano-1': 114, 'farm-poiki-identification-1': 115, 'family-kevin-identification-1': 116, 'colors-yasmin-identification-1': 117, 'lab-wendy-shapes-1': 118, 'lab-wendy-space-1': 119, 'veggies-poiki-drawing-1': 120, 'fruits-kevin-drawing-1': 121, 'mycountry-yasmin-coloring-1': 122, 'fairtytales-wendy-coloring-1': 123, 'foods-poiki-naming-1': 124, 'mycountry-yasmin-tracing-1': 125, 'alphabet-poiki-tracing-1': 126, 'farm-yasmin-tracing-1': 127, 'alphabet-kevin-tracing-1': 128, 'yho-yasmin-tracing-1': 129, 'farm-kevin-colors-1': 130, 'family-wendy-game-1': 131, 'diapers-kevin-game-1': 132, 'sleeping-poiki-game-1': 133, 'country-birthday-game-1': 134, 'who-wendy-colors-1': 135, 'lab-kevin-game-1': 136, 'pets-bingo-1': 137, 'farmanimals-bingo-1': 138, 'colors-bingo-1': 139, 'myself-bingo-1': 140, 'beach-bingo-1': 141, 'body-roulette-1': 142, 'clothes-roulette-1': 143, 'foodsl-roulette-1': 144, 'shopping-roulette-1': 145, 'insects-roulette-1': 146, 'shapes-poiki-sequence-1': 147, 'shapes-memory-1': 148, 'clothes-memory-1': 149, 'colors-memory-1': 150, 'desertanimals-memory-1': 151, 'dinosaurs-memory-1': 152, 'feelings-memory-1': 153, 'foods-memory-1': 154}

### Add the encoded (numerical) activity id to `df_activitiy`

In [ ]:
df_activity['Activity_Num_ID'] = df_activity['Activity_ID'].map(encoded_id_to_activity_dict)
df_activity.head()

           Activity_ID  ... Activity_Num_ID
0    farm-poiki-book-1  ...               0
1    farm-poiki-book-2  ...               1
2    farm-wendy-book-1  ...               2
3    farm-kevin-book-1  ...               3
4  country-none-book-1  ...               4

[5 rows x 26 columns]

### Add the encoded (numerical) activity id to `df_scores_train`

In [ ]:
df_scores_train['Activity_Num_ID'] = df_scores_train['Activity_ID'].map(encoded_id_to_activity_dict)
df_scores_train.head()

   User_ID  ... Activity_Num_ID
0        0  ...              20
1        0  ...              19
2        0  ...             110
3        0  ...             135
4        0  ...              66

[5 rows x 8 columns]

### Add the encoded (numerical) activity id to `df_scores_test`

In [ ]:
df_scores_test['Activity_Num_ID'] = df_scores_test['Activity_ID'].map(encoded_id_to_activity_dict)
df_scores_test.head()

   User_ID  ... Activity_Num_ID
0        0  ...             102
1        0  ...              67
2        0  ...             136
3        0  ...             146
4        0  ...             102

[5 rows x 8 columns]

### Train the SVD Model

Surprise needs to build an internal model of the data. We here use the load_from_df method to build a Dataset object, and then indicate that we want to train on all the samples of this dataset by using the build_full_trainset method.

In [ ]:
# 'reader' is being used to get rating scale (for Poikilingo, the scale is [0, 1]).
# https://github.com/NicolasHug/Surprise/blob/master/surprise/dataset.py
reader = surprise.Reader(line_format="user item rating", rating_scale=(0, 1))
train_set = surprise.Dataset.load_from_df(df_scores_train[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], reader=reader).build_full_trainset()


The [SVD](https://surprise.readthedocs.io/en/stable/matrix_factorization.html#surprise.prediction_algorithms.matrix_factorization.SVD) has a lot of parameters. The most important ones are:

* `n_factors`, which controls the dimension of the latent space (i.e. the size of the vectors $p_u$ and $q_i$). Usually, the quality of the training set predictions grows with as `n_factors` gets higher.
* `n_epochs`, which defines the number of iteration of the SGD procedure.
Note that both parameter also affect the training time.

We will here set n_factors to 200 and n_epochs to 30. To train the model, we simply need to call the fit() method.

In [ ]:
svd = surprise.SVD(random_state=0, n_factors=200, n_epochs=30, verbose=True)

with Timer() as train_time:
    svd.fit(train_set)

print("Took {} seconds for training.".format(train_time.interval))

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 18
Processing epoch 19
Processing epoch 20
Processing epoch 21
Processing epoch 22
Processing epoch 23
Processing epoch 24
Processing epoch 25
Processing epoch 26
Processing epoch 27
Processing epoch 28
Processing epoch 29
Took 1.590882960999977 seconds for training.

### Prediction

Now that our model is fitted, we can call `predict` to get some predictions. `predict` returns an internal object `Prediction` which can be easily converted back to a dataframe:

In [ ]:
predictions = predict(svd, df_scores_test[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], usercol='User_ID', itemcol='Activity_Num_ID')
predictions.head()

   User_ID  Activity_Num_ID  prediction
0        0              102    0.218034
1        0               67    0.148088
2        0              136    0.179007
3        0              146    0.189965
4        0              102    0.218034

### Remove played activity in the top k recommendations

In [ ]:
with Timer() as test_time:
    all_predictions = compute_ranking_predictions(svd, df_scores_train[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], usercol='User_ID', itemcol='Activity_Num_ID', remove_seen=True)
    
print("Took {} seconds for prediction.".format(test_time.interval))

Took 0.22375432199999068 seconds for prediction.

In [ ]:
all_predictions.head()

       User_ID  Activity_Num_ID  prediction
11880        0              147    0.137275
11881        0              137    0.121770
11882        0              145    0.241462
11883        0               15    0.000000
11884        0              107    0.168881

### Evaluate how well SVD performs

In [ ]:
kwargs = dict(col_user='User_ID', col_item='Activity_Num_ID', col_rating='Usefulness_Score', col_prediction='prediction')

eval_rmse = rmse(df_scores_test[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], predictions, **kwargs)
eval_mae = mae(df_scores_test[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], predictions, **kwargs)
eval_rsquared = rsquared(df_scores_test[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], predictions, **kwargs)
eval_exp_var = exp_var(df_scores_test[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], predictions, **kwargs)

k = 10
eval_map = map_at_k(df_scores_test[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], all_predictions, k=k, **kwargs)
eval_ndcg = ndcg_at_k(df_scores_test[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], all_predictions, k=k, **kwargs)
eval_precision = precision_at_k(df_scores_test[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], all_predictions, k=k, **kwargs)
eval_recall = recall_at_k(df_scores_test[['User_ID', 'Activity_Num_ID', 'Usefulness_Score']], all_predictions, k=k, **kwargs)


print("RMSE:\t\t%f" % eval_rmse,
      "MAE:\t\t%f" % eval_mae,
      "rsquared:\t%f" % eval_rsquared,
      "exp var:\t%f" % eval_exp_var, sep='\n')

print('----')

print("MAP:\t%f" % eval_map,
      "NDCG:\t%f" % eval_ndcg,
      "Precision@K:\t%f" % eval_precision,
      "Recall@K:\t%f" % eval_recall, sep='\n')

RMSE:		0.264573
MAE:		0.199131
rsquared:	-0.837950
exp var:	-0.412626
----
MAP:	0.001570
NDCG:	0.003145
Precision@K:	0.003600
Recall@K:	0.003600

In [ ]:
# prediction for user 0
result = all_predictions[all_predictions['User_ID'] == 0]

In [ ]:
result.head()

       User_ID  Activity_Num_ID  prediction
11880        0              147    0.137275
11881        0              137    0.121770
11882        0              145    0.241462
11883        0               15    0.000000
11884        0              107    0.168881

In [ ]:
result.head(n=15)

       User_ID  Activity_Num_ID  prediction
11880        0              147    0.137275
11881        0              137    0.121770
11882        0              145    0.241462
11883        0               15    0.000000
11884        0              107    0.168881
11885        0               43    0.154593
11886        0              129    0.160305
11887        0              118    0.299220
11888        0              153    0.228412
11889        0              115    0.199704
11890        0               34    0.165769
11891        0               90    0.332783
11892        0               27    0.317908
11893        0               22    0.063677
11894        0               10    0.331762

In [ ]:
# merge top 10 prediction with activities dataframe
result = pd.merge(result, df_activity, on='Activity_Num_ID', how='left')

In [ ]:
print("User 0 top 15 predictions")
result[['prediction', 'User_ID', 'Activity_Num_ID', 'Activity_Name']].head(n=10)

User 0 top 15 predictions

   prediction  User_ID  Activity_Num_ID                         Activity_Name
0    0.137275        0              147        Poiki is drawing  in the stars
1    0.121770        0              137                          Bingo - pets
2    0.241462        0              145              Roulette - shopping cart
3    0.000000        0               15       Book: Wendy teaches about germs
4    0.168881        0              107                       Cake decoration
5    0.154593        0               43     Flashcards - musical instruments
6    0.160305        0              129                       Tracing my name
7    0.299220        0              118              Wendy's popping balloons
8    0.228412        0              153                   4 pairs memory game
9    0.199704        0              115  Poiki is harvesting with his tractor